@page "/"
@using EdgeMq.Client
@using EdgeMq.Model
@inject IEdgeMqClient EdgeMqClient;

<PageTitle>Dashboard</PageTitle>

<h1>Queues</h1>

@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th aria-label="Temperature in Celsius">Mode</th>
            <th aria-label="Temperature in Farenheit">Messages</th>
            <th>MaxMessages</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Name</td>
                <td>@forecast.Mode</td>
                <td>@forecast.Metrics.MessageCount</td>
                <td>@forecast.Metrics.MaxMessageCount</td>
            </tr>
        }
        </tbody>
    </table>
}