@page "/"
@using EdgeMq.Client
@using EdgeMq.Dashboard.Components
@using EdgeMq.Dashboard.Eventing
@inject IEdgeMqClient EdgeMqClient;
@inject IQueueMetricsEventingService EventingService;

<PageTitle>EdgeMQ Dashboard</PageTitle>

<div style="margin-bottom: 10px; margin-top: 10px; display: flex; justify-content: right" >
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Tertiary">refresh</MudButton>
</div>

@foreach (var queue in _queues)
{
    <QueueCard Queue="@queue" />
}