<MudGrid>
    <MudItem xs="6">
        <div style="margin-left: 5px;  display: flex; justify-content: left" >
            <MudText>@Label</MudText>
        </div>
    </MudItem>
    <MudItem xs="6">
        <div style="margin-right: 10px; display: flex; justify-content: right" >
            <MudText>@Value</MudText>
        </div>
    </MudItem>
</MudGrid>